@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir-Medium";
  src: url("assets/fonts/vazir/Vazir-Medium.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("assets/fonts/vazir/Vazir-Bold.woff");
  font-style: normal;
  font-weight: bold;
}
textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none !important;
}

body {
  min-height: 100vh;
  background-size: cover !important;
  direction: rtl;
  font-family: "Vazir-Bold";
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@layer components {
  .toolbar-button {
    @apply px-3 py-1 cursor-pointer rounded flex items-center text-white text-sm hover:bg-lightWhite;
  }
  .setting-sidebar {
    @apply fixed flex flex-col top-0 left-[-320px] w-80 h-full bg-bgColor p-5 overflow-hidden;
  }
}

.lists-container::-webkit-scrollbar {
  height: 0.65em;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.lists-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.setting-option--active {
  position: relative;
  border: 3.5px solid royalblue;
}

.setting-option--active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 23px;
  height: 23px;
  background: url(assets/images/utilities/check.png) center center no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.board-name:focus {
  background-color: white;
  color: black;
  outline: none;
  border: 3px solid royalblue;
  cursor: text;
}

.task-card:hover .task-card__edit-button {
  display: block;
}
